.multi {
    color: #38419D;
    font-weight: bold;
    font-size: 40px;
}

.copyright {
    margin-top: 43px;
    padding: 20px 0px;
    background-color: #3887BE;
}

.copyright p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    color: #38419D;
}


/** end footer **/

