<nav>
    <div class="body">
        <div class="topnav" >
            <div class="navbar">
                <div class="logo">
                    <h2>CHALO AI</h2>
                </div>
                
                <ul >
                  <li><a routerLink="home">HOME</a></li>
                  <li><a routerLink="/home-services">SERVICE</a></li>
                  <li><a routerLink="/about">ABOUT</a></li>
                  <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Blog</a>
                    <div class="dropdown-content">
                      <a routerLink="/posts">Posts</a>
                      <a routerLink="/posts-list">Post Details</a>
                    </div>
                  </li>
                  <button mat-raised-button style="background-color: #200E3A; margin-right: 20px;" routerLink="/login">Sign In</button>
                </ul>
                
            </div>
        </div>
        
    </div>
    
</nav>

